@using WebApplication12.Models 
@model List<Personel>
@{
    ViewData["Title"] = "Index";
}

<table class="table table-borderd">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Birim</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelID</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Sehir</td>
            <td>@x.Birim.BirimAD</td>
            <td><a href="/Personelim/PersonelSil/@x.PersonelID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Personelim/PersonelGetir/@x.PersonelID" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-outline-info">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/Personelim/YeniPersonel/" class="btn btn-primary">Yeni Personel</a>